body {
    background-color: #f0f8ff; /* Fundo azul muito claro */
    
}

form {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

label {
    margin: 2px;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    background-color: #156783; /* Azul bebê suave */
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

button:hover {
    background-color: #0e4e5e; /* Azul bebê mais escuro ao passar o mouse */
}

h1 {
    color: #156783;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: #156783;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
