/* =========================
   CONFIGURAÇÕES GERAIS
   ========================= */

/* Fonte padrão do site */
body {
    font-family: Arial, Helvetica, sans-serif;
}
/* =========================
   CARROSSEL DE PRODUTOS
   ========================= */

.products-carousel {
    padding: 20px;
    text-align: center;
}

.carousel {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 10px;
}

.product {
    min-width: 200px;
    border: 1px solid #156783;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
}

.product img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.product button {
    background-color: #156783;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}


/* =========================
   CONTEÚDO PRINCIPAL
   ========================= */

.main-content {
    display: flex;
    height: 75vh;
}

/* Mapa */
.map-container {
    flex: 3;
    background-color: white;
    border: 1px solid #156783;
    margin: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#map {
    width: 100%;
    height: 100%;
}

/* =========================
    LISTA DE LOJAS
   ========================= */

.lista-lojas {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 16px;
}

.card-loja {
    background: #ccc;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    font-size: 8px;
}

.card-loja:hover {
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    background-color: #b9b6b6;
    cursor: pointer;
}

/* Sidebar */
.sidebar {
    flex: 1;
    background-color: #156783;
    padding: 20px;
    margin: 5px 20px 20px 0;
    border-radius: 10px;
}

.sidebar h3 {
    color: white;
    margin-bottom: 15px;
    margin-top: 5px;
    font-size: 18px;
}

.sidebar h2 {
    color: white;
    margin-bottom: 15px;
    margin-top: 5px;
    font-size: 15px;
    text-align: center;
}

.sidebar p {
    color: #156783;
    margin-bottom: 10px;
    text-align: left;
    margin-top: 0px;
}

.sidebar button {
    background-color: white;
    color: #156783;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.sidebar button:hover {
    background-color: #f0f0f0;
}
