/* Importar estilos base */
/*@import url('Estilo1.css');


/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #156783;
    padding: 10px 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.logo{
    color: white;
    font-size: 13px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.icon:hover {
    transform: scale(1.1);
}

.iconuser {
    width: 40px;
    height: 40px;
    cursor: pointer
}

.iconadmin {
    width: 50px;
    height: 50px;
    cursor: pointer
}

.iconstore {
    width: 30px;
    height: 30px;
    cursor: pointer
}

.icon:hover, .iconuser:hover {
    transform: scale(1.1);
}

.dropdown {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #156783;
    border-radius: 5px;
    padding: 10px;
    top: 50px;
    z-index: 1;
}

.profile-menu:hover .dropdown,
.cart-menu:hover .dropdown {
    display: block;
}

.dropdown a, .dropdown p {
    color: #156783;
    text-decoration: none;
    display: block;
    margin: 5px 0;
}

.dropdown ul {
    list-style: none;
    padding: 0;
}

.dropdown li {
    margin: 5px 0;
}

/* Products Carousel */
.products-carousel {
    padding: 20px;
    text-align: center;
}

.carousel {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 10px;
}

.product {
    min-width: 200px;
    border: 1px solid #156783;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
}

.product img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.product button {
    background-color: #156783;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

/* Main Content */
.main-content {
    display: flex;
    height: 75vh;
}

.map-container {
    flex: 3;
    background-color: white;
    border: 1px solid #156783;
    margin: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#map {
    width: 100%;
    height: 100%;
}

.sidebar {
    flex: 1;
    background-color: #156783;
    padding: 20px;
    margin: 20px 20px 20px 0;
    border-radius: 10px;
}

.sidebar h3 {
    color: white;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    color: white;
    margin: 10px 0;
}
