/* =========================
   CONFIGURAÇÕES GERAIS
   ========================= */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f8ff;
}

/* =========================
   HEADER / BARRA SUPERIOR
   ========================= */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #156783;
    padding: 10px 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.logo {
    color: white;
    font-size: 13px;
    font-weight: bold;
}

/* =========================
   MENUS DO HEADER
   ========================= */

#menu-usuario,#menu-perfil {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* =========================
   ÍCONES
   ========================= */

.iconhome {
    width: 23px;
    height: 30px;
    cursor: pointer;
    margin-left: 0px;
    transition: transform 0.2s;
}

.iconcart,
.iconuser{
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: transform 0.2s;
    margin-left: 15px;
}


/* Ícone de loja */
.iconstore {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-left: 15px;
    transition: transform 0.2s;
}


/* Ícone de admin */
.iconadmin {
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-left: 0px;
    transition: transform 0.2s;
}

.iconhome:hover,
.iconcart:hover,
.iconuser:hover,
.iconstore:hover,
.iconadmin:hover {
    transform: scale(1.1);
}

/* =========================
   DROPDOWNS
   ========================= */

.profile-menu,
.cart-menu {
    position: relative;
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background: white;
    border: 1px solid #156783;
    border-radius: 5px;
    padding: 10px;
    min-width: 150px;
    z-index: 10;
}

.profile-menu:hover .dropdown,
.cart-menu:hover .dropdown {
    display: block;
}

/* Links dentro do dropdown */
.dropdown a,
.dropdown p {
    color: #156783;
    text-decoration: none;
    display: block;
    padding: 5px 0;
}

/* Hover nos links do dropdown */
.dropdown a:hover {
    background-color: #f0f0f0;
}   